<section class="hero_container">
  <%- include(site.views + '/atoms/images/image-hero', {url: image.url, alt: image.alt}) %>
  <section class="item-6-12 content_container">
    <article class="inner">
      <header>
        <h1 class="title"><%= title %></h1>
        <p class="content"><%- content %></p>
      </header>
    </article>
  </section>
</section>