<section class="modal__container" data-state="<%= status %>">
  <article class="modal__content content-<%= style %>">
    <%- include(site.views + '/atoms/buttons/button-icon-only', {type: 'button', action: 'closeModal()', text: 'Close the modal', icon: 'close', theme: 'brand'}) %>
    <%- //content %>
    <p>I am a modal popup thingy. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, fugiat ab debitis repudiandae numquam eligendi possimus neque explicabo minima facilis?</p>
  </article>
</section>