%teaser {
  display: inline-block;
  vertical-align: top;
  @extend %card;
  @extend %padding-bottom;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.teaser_container {
  @extend %central-column;
  font-size: 0;
  @extend %grid;
  @extend %grid_row;
  @extend %grid_wrap;
  @extend %align-stretch;
  @extend %justify-between;
  width: 100%;
  @media screen and (min-width: $breakpoint-min) {
    display: flex;
  }
}

.teaser {
  @extend %teaser;
  img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .title,
  .content {
    margin-top: 1em;
    @extend %padding-horizontal;
  }
  .title {
    @extend %christopher;
  }
  .content {
    @extend %richie;
  }
}

.teaser-large {
  width: 100%;
  img {
    height: 25rem;
    object-fit: cover;
  }
  @media screen and (min-width: $breakpoint-min) {
    width: calc(50rem - 3rem);
  }
}

.teaser-small {
  width: calc(100% - 0.5rem);
  img {
    height: 20rem;
    object-fit: cover;
  }
  @media screen and (min-width: $breakpoint-min) {
    width: calc(25rem - 0.75rem);
  }
}