<head>
	<meta charset="UTF-8">
	<title><%= site.title %></title>
	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link rel="stylesheet" href="/css/style.css">
	<link id="devCss" rel="stylesheet" href="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%- include(site.views + '/_partials/_favicons') %>

</head>